* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-size: 1em;
  font-weight: normal;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

[type=button],
button {
  all: revert;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  scroll-behavior: smooth;
}
